@import "common.css";
@import "btn.css";

.login .attention {
  margin: 20px auto 0;
  width: 90%;
}

.login_table {
  margin: 60px auto 0;
  padding: 20px;
  width: 325px;
  height: 260px;
  background: #fff;
  border-radius: 5px;
}

.login_table .title {
  font-size:17px;
  font-weight:bold;
  height:30px;
  text-align: center;
}

.login_table .bitem {
  font-size:14px;
  font-weight:bold;
}

.login_table .item {
  padding-top:10px;
  font-size: 14px;
}

.login_table .text_field {
  width:280px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #aaa;
}

#btn .btn_img1 {
  margin: 20px auto 0;
  display: block;
}
