#paging {
  width:100%;
  font-size:12px;
}

#paging .txt {
  padding:0px 3px;
  font-weight:bold;
}

#err_font {
  font-weight:bold;
  font-size:13px;
}

#title {
  border-collapse:collapse;
  width:100%;
  margin:15px 0px;
}

#title td {
  border:solid 1px #00bfff;
  padding:5px;
}

#lst {
  padding-bottom:20px;
}

#lst table {
  width:100%;
  font-size:12px;
  margin-bottom:20px;
  background-color:#F0FFFF;
  border-collapse:collapse;
}

#lst table td {
  border:solid 1px #dfdfdf;
  padding:5px;
  max-width:200px;
}

#cgi {
  padding-bottom:20px;
}

#cgi .input {
  font-size:13px;
  border-collapse:collapse;
  background-color:#F0FFFF;
}

#cgi .input td {
  border:solid 1px #dfdfdf;
}
#cgi .input .pd {
  padding:5px;
}

#inline_editor {
  margin-top: 90px;
  margin-bottom: 50px;
}

#inline_editor table {
  text-align:left;
  font-size:12px;
  border-collapse:collapse;
}

#inline_editor table td {
  /*border:solid 1px #dfdfdf;*/
}

#inline_editor table .edit {
  width:250px;
}

#inline_editor dt,
#inline_editor dd {
	display: inline-block;
}

.editer_own {
	width: 90px;
}

.editer_own img,
.editer_other img {
	vertical-align: middle;
}

.editer_other {
	width: 90px;
}

#add_btn {
  text-align:left;
  padding-top:20px;
  padding-left:20px;
}

#add_btn .att {
  font-size:15px;
  font-weight:bold;
  color:#ff0000;
}

/* balloon-1 left */
.balloon-1-left {
	position: relative;
	    padding: 0 15px;
	    width: auto;
	    color: #333;
	    text-align: center;
	    background: #fff;
	    z-index: 0;
	    padding: 10px 15px;
	    margin: 10px;
	    border-radius: 5px;
	    font-size: 16px;
}
.balloon-1-left:after {
	content: "";
	position: absolute;
	top: 50%; left: -10px;
	margin-top: -10px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 10px 10px 0;
	border-color: transparent #fff transparent transparent;
}
/* balloon-1 right */
.balloon-1-right {
	position: relative;
	    padding: 0 15px;
	    width: auto;
	    color: #333;
	    text-align: center;
	    background: #fff;
	    z-index: 0;
	    padding: 10px 15px;
	    margin: 10px;
	    border-radius: 5px;
	    font-size: 16px;
}
.balloon-1-right:after {
	content: "";
	position: absolute;
	top: 50%; right: -10px;
	margin-top: -10px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent #fff;
}

.chat_msg_txt {
	width: 280px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #aaa;
	margin-bottom: 10px;
	font-size: 16px;
	height: 23px;
}
