#paging {
  width:100%;
  font-size:12px;
}

#paging .txt {
  padding:0px 3px;
  font-weight:bold;
}

#err_font {
  font-weight:bold;
  font-size:13px;
}

#title {
  border-collapse:collapse;
  width:100%;
  margin:15px 0px;
}

#title td {
  border:solid 1px #00bfff;
  padding:5px;
}

#lst {
  padding-bottom:20px;
}

#lst table {
  width:100%;
  font-size:12px;
  margin-bottom:20px;
  background-color:#F0FFFF;
  border-collapse:collapse;
}

#lst table td {
  border:solid 1px #dfdfdf;
  padding:5px;
  max-width:200px;
}

#cgi {
  padding-bottom:20px;
}

#cgi .input {
  font-size:13px;
  border-collapse:collapse;
  background-color:#F0FFFF;
}

#cgi .input td {
  border:solid 1px #dfdfdf;
}
#cgi .input .pd {
  padding:5px;
}

#inline_editor {
  margin-top:30px;
  padding-bottom:20px;
}

#inline_editor table {
  text-align:left;
  font-size:12px;
  border-collapse:collapse;
}

#inline_editor table td {
  border:solid 1px #dfdfdf;
}

#inline_editor table .edit {
  width:250px;
}

#add_btn {
  text-align:left;
  padding-top:20px;
  padding-left:20px;
}

#add_btn .att {
  font-size:15px;
  font-weight:bold;
  color:#ff0000;
}

/* balloon-1 left */
.balloon-1-left {
	position: relative;
	display: inline-block;
	padding: 0 15px;
	width: auto;
	min-width: 115px;
	color: #19283C;
	text-align: center;
	background: #F6F6F6;
	border: 3px solid #19283C;
	z-index: 0;
}
.balloon-1-left:before {
	content: "";
	position: absolute;
	top: 50%; left: -8px;
	margin-top: -9px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 9px 9px 9px 0;
	border-color: transparent #F6F6F6 transparent transparent;
	z-index: 0;
}
.balloon-1-left:after {
	content: "";
	position: absolute;
	top: 50%; left: -12px;
	margin-top: -10px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 10px 10px 0;
	border-color: transparent #19283C transparent transparent;
	z-index: -1;
}
/* balloon-1 right */
.balloon-1-right {
	position: relative;
	display: inline-block;
	padding: 0 15px;
	width: auto;
	min-width: 115px;
	color: #19283C;
	text-align: center;
	background: #F6F6F6;
	border: 3px solid #19283C;
	z-index: 0;
}
.balloon-1-right:before {
	content: "";
	position: absolute;
	top: 50%; right: -8px;
	margin-top: -9px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 9px 0 9px 9px;
	border-color: transparent transparent transparent #F6F6F6;
	z-index: 0;
}
.balloon-1-right:after {
	content: "";
	position: absolute;
	top: 50%; right: -12px;
	margin-top: -10px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent #19283C;
	z-index: -1;
}
